<html>
    <head>
        <title>
           <%=title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/habits.css">
    </head>
    <body class="container">
        <main>
            <header>
               <h1>Today's Schedule</h1>
            </header>
            <div id="container">
                <div id="addnav">
                    <ul>
                        <li><a href="http://localhost:8000/"><h5>Home</h2></a></li>
                        <li><a href="http://localhost:8000/habits"><h5>View habits</h2></a></li>
                        <li><a href="http://localhost:8000/Add_habit"><h5>Add a habit</h2></a></li>
                        <li><a href="http://localhost:8000/today"><h5>Today's Schedule</h2></a></li>
                        <li><a href="http://localhost:8000/weakly_status"><h5>Weakly status</h2></a></li>
                    </ul>
                
                </div>
                 
                <div id="hab-div" class="container">
                    <ul>
                        <% for(let i of habit_list){
                            %>
                            <li>
                                <div class="head">
                                    <span><%= i.habitname %></span>
                                    <div>
                                        <label for="time">Timing</label>
                                        <span><%= i.time %></span>
                                    </div>
                                        
                                </div>
                                <div class="head">
                                    <div>
                                           
                                          <% if(i.done==true)
                                          {%>
                                            <label for="done">Completed</label>
                                             <input type="checkbox" checked>
                                             <%
                                          }
                                          else
                                          { %>
                                            <label for="done">Completed</label>
                                             <input type="checkbox">
                                             <%
                                          } %>
                                    </div> 
                                    <div>
                                        <% if(i.not_done==true)
                                          { %>
                                            <label for="not_done">Skipped</label>
                                             <input type="checkbox" checked>
                                             <%
                                          }
                                          else
                                          { %>
                                            <label for="not_done">Skipped</label>
                                             <input type="checkbox">
                                             <%
                                          } %>
                                    </div>
                                </div>
                            </li>
                            <%
                            }%>
                    </ul>
                </div>
            </div>
            <script src="https://kit.fontawesome.com/7ffdacbfe9.js" crossorigin="anonymous"></script>
    </body>
</html>